[Unit]
Description=Study Buddy FastAPI Service
After=network.target

[Service]
User=kali
WorkingDirectory=/home/kali/arbeitsordner/webtech2/studyBuddy/backend/
ExecStart=/home/kali/arbeitsordner/webtech2/studyBuddy/backend/start_fastapi.sh
Restart=always

[Install]
WantedBy=multi-user.target
